a, a.a {
  text-decoration: none;
  color: rgb(22, 22, 22);
  transition: all 0.4s;
}
a {
  color: #fff;
}

a.a:hover {
  color: rgb(73, 73, 73);
}
a:hover {
  color: rgb(238, 238, 238);
}

i {
  cursor: pointer;
}

img.qrcode-img {
 width: 320px;
 height: 320px;
 display: block;
 margin: 0 auto;
}
.download-btn {
  width: 320px;
  display: block;
  margin: 0 auto;
}

.copy i {
  margin-left: -24px;
  height: 100%;
  font-size: large;
  line-height: 1rem;
  align-self: center;
}